a:hover{
    text-decoration: unset;
}
ul{
    margin: 0;
}
h1, h2, h3, h4, h5, h6{
    margin-bottom: 0;
}
p{
    margin-bottom: 0;
}

.header {
    margin-top: 22px;
    margin-bottom: 22px;
    .logo{
        
    }
    nav{
        ul.nav-links{
            @include list-row;
            li:hover{
                font-weight: 600;
                border-bottom: 1px solid $white;
            }
            li:hover{
                color: $white;
            }

            li{
                font-size: 0.75rem;
                line-height: normal;
                margin-right: 40px;
                text-transform: uppercase;
                border-bottom: 1px solid transparent;
            }
            a{
                color: $white;
            }
            a::after {
                display:block;
                content:attr(title);
                font-weight:600;
                height:1px;
                color:transparent;
                overflow:hidden;
                visibility:hidden;
                // margin-bottom:-1px;
            }
        }
        .nav-buttons{
            .btn:hover{
                color: $blue;
            }
        }
    }
}

.tb-info{ 
    h1{
        font-size: 2.9rem;
        line-height: 60px;
    }
    .divider{
        margin-top: 10px;
        margin-bottom: 22px;
    }
    .lead{
        margin-bottom: 22px;
        font-weight: 300;
    }
    .btn{
        width: 140px;
    }
}

.tb-start-form{
    .bg{
        width: 360px;
        background-color: rgba(1, 1, 1, .3);
        border-radius: 4px;
        padding: 40px 30px;
    }
    .label{
        img{
            margin-right: 20px;
        }
        line-height: normal;
        margin-bottom: 40px;
    }
    .form{
        .form-control{
            margin-bottom: 14px;
        }
        .btn{
            height: 46px;
        }
    }
    .terms{
        margin-top: 35px;
        font-size: $font-size-sm;
        font-weight: 300;
        line-height: 1.33;
        a{
            color: $white;
        }
    }
}

.tb-features-container{
    background-color: #f0f4f6;
}
.tb-pricing-container{
    background-color: $white;
}
.tb-features-container, .tb-pricing-container{
    color: #000000;
}
.tb-features{
    padding: 80px 40px;
    .tb-features--items div{
        .icon{
            margin-bottom: 31px;
        }
        h3{
            font-weight: 600;
            font-size: 18px;
            margin-bottom: 20px;
        }
        p{
            font-size: $font-size-md;
            font-weight: 300;
        }

        width: 215px;
        margin-right: 60px;
        &:last-child{
            margin-right: 0;
        }
    }
}
.tb-pricing{
    padding: 80px 40px;
    .tb-pricing--items div.plan{
        width: 320px;
        border: 1px solid $gray-200;
        margin-right: 20px;
        &:last-child{
            margin-right: 0;
        }
        .name{
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 600;
            height: 62px;
        }
        .loud{
            font-size: 48px;
            font-weight: normal;
            height: 80px;
            color: $gray-600;
            background-color: $gray-200;
        }
        .options-container{
            padding: 33px 40px 46px 40px;
        }
        .options{
            @include list-clear;
            li{
                font-size: 14px;
                font-weight: 300;
                box-sizing: border-box;
                //border-bottom: 1px solid $gray-400;
                color: $plan-color-mute;
                margin-top: (25px / 2);
                padding-bottom: (25px / 2);
                &:first-child{
                    margin-top: 0;
                }
                &:last-child{
                    padding-bottom: 0;
                    border-bottom: none;
                }
                &.include{
                    color: $plan-color;
                    border-bottom: 1px solid $gray-400;
                }
                &.include-last{
                    border-bottom: none;
                }
            }
        }
        .options + .btn{
            margin-top: 33px;
            height: 40px;
        }
        &.plan-primary{
            border-width: 2px;
            border-color: $blue;
            .loud{
                color: $white;
                background-color: $blue;
            }
        }
    }
    .tb-pricing--footer{
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        margin-top: 50px;
        margin-bottom: 60px;
    }
}

.tb-features--header, .tb-pricing--header{
    margin-bottom: 63px;
    font-weight: 300; 
    h2{
        font-size: $font-size-h2;
        font-weight: 300; 
    }
    .divider{
        margin-top: 27px;
        margin-bottom: 17px;
    }
}

// ===========

.divider{
    width: 100px;
    height: 1px;
    background-color: $blue;
}

.btn{
    padding: 10px;
    font-size: $font-size-md;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
}
.btn-sm{
    font-size: $font-size-sm;
}
.btn-primary{
    border-color: $blue;
    color: $blue;
}
.btn-primary.btn-fill{
    background-color: $blue;
    color: $white;
}
.btn-default{
    border-color: $white;
    color: $white;
}
.btn-default:hover{
    color: $white;
}

.form-control{
    width: 100%;
    height: 45px;
    line-height: normal;
    border-radius: 2px;
    outline: none;
    border: none;
    padding: 11.5px 22px;
}

// ===========

.h-100v{
    height: 100vh !important;
}

.flex-fill{
    flex-grow: 1;
}

.text-underline{
    text-decoration: underline;
}