@mixin list-row{
    @include list-clear;
    li{
        display: inline-block;
    }
}
@mixin list-clear{
    list-style: none;
    padding: 0;
}
@mixin margin-between($val){
    margin-bottom: $val;
    &::last-child{
        margin-bottom: 0;
    }
}