//
// Color system
//

$gray-400: #dddddd; //#ced4da;

$blue:    #0099f7; //#007bff;

$body-color: #FFFFFF;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: 'Open Sans', sans-serif;

$font-size-sm: .75rem; // 12px
$font-size-md: .88rem; // 14px
$font-size-h2: 2.5rem;

$line-height-base: 1.25; //1.5 (20px)

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1000px // 1140px
) !default;

// [TB] Vars
//
// 

$tb-prefix: tb;